.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    box-sizing: border-box;
    border-radius: 12px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.team-logo {
    width: 75px;
    cursor: pointer;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}