.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 5%;
    box-sizing: border-box;
    border-radius: 12px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.team-logo {
    width: 150px;
    cursor: pointer;
    transition: filter 0.5s ease, color 0.5s ease;
}

body.light .team-logo {
    filter: invert(1);
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul li {
    display: flex;
    margin: 0 1em;
    font-size: 18px;
    cursor: pointer;
}