.theme-toggle-btn {
  width: 35px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Light Mode */
body.light {
  background-color: #fff;
  color: #222;
}

body.light .navbar {
  background: #f0f4f9;
}

body.light .theme-toggle-btn {
  filter: invert(1);
}

/* Dark Mode */
body.dark {
  background-color: #222;
  color: #fff;
}

body.dark .navbar {
  background: #1e1f20;
}

body.dark .theme-toggle-btn {
  filter: invert(0);
}