.theme-toggle-btn {
  display: relative;
  bottom: 25px;
  width: 30px;
  cursor: pointer;
  will-change: filter, transform;
  transition: filter 300ms, transform 0.3s ease;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}