.theme-toggle-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.theme-icon {
  width: 20px;
  align-items: center;
  padding: 0;
  transition: transform 0.3s ease;
}

/* Theme-specific styles */
body.light {
  background-color: #fff;
  color: #1a1a1a;
}

body.dark {
  background-color: #1a1a1a;
  color: #fff;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* BUTTON (LIGHT THEME) */
body.light .theme-icon {
  filter: invert(1)
}

body.light .theme-toggle-btn{
  background-color: #fff;
}

body.light .theme-toggle-btn:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

/* BUTTON (DARK THEME) */
body.dark .theme-toggle-btn{
  background-color: #1a1a1a;
}

body.dark .theme-toggle-btn:hover {
  background-color: rgba(0, 0, 0, 1);
}